body {
  overflow-anchor: none;
}

header {
  z-index: 2000;
}

.logout {
  cursor: pointer;
}

.card > img {
  height: 250px;
  object-fit: cover;
}

.post-image > img {
  height: 300px;
  object-fit: cover;
}
